# Bloqueia acesso direto via browser a todos os arquivos, exceto PDFs que forem explicitamente servidos via PHP
Options -Indexes
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
