<div ng-controller="eduWidgetsProxVencimentoController as controller" class="widgetVencimento">
    <totvs-widget>

        <totvs-widget-header title="{{ 'l-proximo-vencimento' | i18n : [] : 'js/widgets' }}">
        </totvs-widget-header>

        <totvs-row>
            <a ng-click="controller.goFinanceiro()" class="link-widget" ng-if="controller.exibeLinkFinanceiro">
                {{ ::'l-go-financeiro' | i18n : [] : 'js/widgets' }}
            </a>
        </totvs-row>

        <totvs-widget-body>
            <div class="panel panel-default">
                <div class="panel-body" ng-if="controller.hasValue">
                    <totvs-row class="wdg-prox-vencimento-row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wdg-prox-vencimento-title">
                            <span class="wdg-prox-vencimento-label">{{ 'l-vencimento' | i18n : [] : 'js/widgets' }}</span> <br /> {{ controller.dadosBoleto.dueDate | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 wdg-prox-vencimento-value">
                            <span class="wdg-prox-vencimento-label">{{ 'l-valor' | i18n : [] : 'js/widgets' }}</span> <br /> {{ controller.dadosBoleto.paymentNetAmount | currency: 'R$' }}
                        </div>
                    </totvs-row>

                </div>
                <totvs-row>
                    <totvs-page-alert ng-if="!controller.hasValue" type="info" message="">
                        <span class="glyphicon glyphicon-info-sign"></span> {{ ::'l-nenhuma-info-disponivel' | i18n : [] : 'js/widgets' }}
                    </totvs-page-alert>
                </totvs-row>
                <div class="panel-footer" ng-if="controller.hasValue">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" id="btnPix" class="payments-botao-content payments-botaoAzul" title="{{ 'l-pix' | i18n : [] : 'js/widgets' }}" ng-show="controller.exibeBtnPix" ng-click="controller.exibirDadosPix(controller.dadosBoleto)">
                           <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
                           <span class="hidden-xs">{{ 'l-pix' | i18n : [] : 'js/widgets' }}</span>
                        </button>
                        <button type="button" id="btnCartao" class="payments-botao-content payments-botaoAzul" title="{{ 'l-cartao' | i18n : [] : 'js/widgets' }}" ng-if="controller.exibeBtnCartao" ng-click="controller.exibirDadosPagCartao(controller.dadosBoleto)">
                           <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                           <span class="hidden-xs">{{ 'l-cartao' | i18n : [] : 'js/widgets' }}</span>
                        </button>
                        <button type="button" id="btnBoleto" class="payments-botao-content payments-botaoBranco" title="{{ 'l-gerar-boleto' | i18n : [] : 'js/widgets' }}" ng-if="controller.exibeBtnBoleto && (!controller.dadosBoleto.canPayWithBilletBarCode && !controller.PermiteAlteracaoDataVencimentoBoletoPortal)"
                            ng-click="controller.pagarBoleto(controller.dadosBoleto)">
                             <span class="glyphicon glyphicon-barcode"></span>&nbsp;
                             <span class="hidden-xs">{{ 'l-gerar-boleto' | i18n : [] : 'js/widgets' }}</span>
                        </button>
                        <button type="button" id="btnBoletoMenu" class="payments-botao-content payments-botaoBranco" data-toggle="dropdown" ng-if="controller.exibeBtnBoleto && (controller.dadosBoleto.canPayWithBilletBarCode || controller.PermiteAlteracaoDataVencimentoBoletoPortal)">
                             <span class="glyphicon glyphicon-barcode"></span>&nbsp;
                             <span class="hidden-xs">{{ 'l-gerar-boleto' | i18n : [] : 'js/widgets' }}</span>
                             <span class="caret-visible"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a class="item-button-dropdown" ng-click="controller.pagarBoleto(controller.dadosBoleto)">
                                    {{ ::'l-gerar-boleto' | i18n : [] : 'js/aluno/financeiro' }}
                                </a>
                            </li>
                            <li ng-if="controller.dadosBoleto.canPayWithBilletBarCode">
                                <a class="item-button-dropdown" ng-click="controller.copiarCodBarras(controller.dadosBoleto)">
                                    {{ ::'l-btn-gerar-cod-barras' | i18n : [] : 'js/aluno/financeiro' }}
                                </a>
                            </li>
                            <li ng-if="controller.PermiteAlteracaoDataVencimentoBoletoPortal">
                                <a class="item-button-dropdown" ng-click="controller.exibirModalSimulacao(controller.dadosBoleto)">
                                    {{ ::'l-simular-nova-data' | i18n : [] : 'js/aluno/financeiro/lancamentos' }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </totvs-widget-body>
    </totvs-widget>
</div>