<div>
    <div id="vencimento-alert" class="alerta-prox-vencimento">
        <div>
            <div class="alerta-vencimento-header">
                <button type="button" class="alert-close" ng-click="controller.ocultaAlertaProximoVencimento()">
                </button>
                <span class="alerta-vencimento-header-text">{{ ::'l-alerta-vencimento' | i18n : [] : 'js/aluno/financeiro' }}</span>
            </div>
            <div class="alerta-prox-vencimento-content">
                <div class="alerta-vencimento-div-icon">
                    <span class="glyphicon ico-alert-triangle alerta-vencimento-icon"></span>
                </div>
                <div class="message">
                    <p class="text text-1">{{controller.getLabelAlerta()}}<span class="text text-2"> {{controller.getLabelDias()}}</span>!</p>
                    <p class="text text-1">{{ ::'l-pague-antes-vencimento' | i18n : [] : 'js/aluno/financeiro' }}</p>
                    <div class="alerta-prox-vencimento-buttons">
                        <button type="button" class="payments-botao-content payments-botaoBranco payments-formapgto" ng-click="controller.ocultaAlertaProximoVencimento()">
                            {{ ::'btn-close' | i18n : [] : '' }}
                        </button>
                        <button type="button" class="payments-botao-content payments-botaoAzul payments-formapgto" ng-click="controller.goFinanceiro()">
                            <span class="glyphicon ico-check-circle ico-check-button"></span>
                            {{ ::'btn-pagar-agora' | i18n : [] : 'js/aluno/financeiro' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>